<div class="entry-page-design">
  <h3 class="entry-page-title animated fadeInDown delay-1s">Condition Reports</h3>

      <span class="entry-page-card-icon">
        <i class="far fa-file-alt"></i>
      </span>
      <span class="entry-page-card-content">

      </span>
  </div>
</div>
